<section id="contact">
    <div class="contact-box">
      <div class="contact-links">
        <h2>Edit User</h2>
       
      </div>
      <div class="contact-form-wrapper">
        <form [formGroup]="editUserForm" (ngSubmit)="newUser()">
          <div class="form-item">
            
            <input type="text" name="sender" formControlName="name" required>
            
            <label>Name:<span  *ngIf="name && name.invalid && name.touched" style="color: red;">  Invalid</span></label>
            
          </div>
          <div class="form-item">
            <input type="text" name="email" formControlName="email" required>
            <label>Email: <span *ngIf="email && email.invalid && email.touched" style="color: red;" > Email is Invalid</span></label>
          </div>
          <div class="form-item">
            <input type="number" name="age" formControlName="age" required>
            <label>Age: <span *ngIf="age && age.invalid && age.touched" style="color: red;" > Age is Invalid</span></label>
          </div>
          <div style="display: flex;  justify-content: center;  align-items: center;">
            <button class="submit-btn" [disabled]="editUserForm.invalid">Save</button>
            <button class="submit-btn" routerLink="/profile">Cancel</button>    
          </div>
        
        </form>
      </div>
    </div>
  </section>