<div class="flex-parent">
  <div class="card">
    <img src="https://www.timeanddate.com/scripts/cityog.php?title=Current%20Local%20Time%20in&city=State%20of%20Kerala&state=Kerala&country=India" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Local Date & Time</b></h4>
      <p>{{local}}</p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.timeanddate.com/scripts/cityog.php?title=Current%20Local%20Time%20in&country=India&image=new-delhi1" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Indian Standard Time</b></h4>
      <p>{{ist}}</p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.timeanddate.com/scripts/cityog.php?title=Current%20Local%20Time%20in&state=England&country=United%20Kingdom&image=london1" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>UK Time Zone</b></h4>
      <p>{{uk}}</p>
    </div>
  </div>
  </div>
