<div class="flex-parent">
  <div class="card">
    <img src="assets/images/local.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Local Date & Time</b></h4>
      <p>{{local}}</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/ist.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Indian Standard Time</b></h4>
      <p>{{ist}}</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/uk.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>UK Time Zone</b></h4>
      <p>{{uk}}</p>
    </div>
  </div>
  </div>
