<div class="card-wrapper" *ngFor="let user of allData; let i = index">
  <mat-card class="example-card">
    <mat-card-header>
      <img
        src="https://www.kindpng.com/picc/m/24-248729_stockvader-predicted-adig-user-profile-image-png-transparent.png"
        mat-card-avatar />
      <mat-card-title>User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        Name:
        <mat-list-item role="listitem" placeholder="Name:">{{
          user.name
          }}</mat-list-item>
        Email:
        <mat-list-item role="listitem">{{ user.email }}</mat-list-item> Age:
        <mat-list-item role="listitem">{{ user.age }}</mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="editUser(user, i)">
        Edit
      </button>
      <button mat-raised-button color="warn" (click)="deleteUser(i)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>