.chatarea{
    display :flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5rem;
    padding-bottom: 0;
    overflow-y: auto;
    list-style-type: none;
    background-color: rgb(102, 152, 226);
}

*{
    line-height: 1.4rem;

}
.chatmsgs{
    position: relative;

}
.msgitem{
    align-self: flex-start;
    margin-left: 5%;
    width:95%;

}
.msgtime{
    display: block;
    margin-bottom: .3rem;
    font-size: .8rem;
    color: #666;
}
.user{
    padding: 1rem;
    border-radius: 10px;

}




/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }