<div *ngIf="msg.type == 'user'">
  <div class="container">
    <img
      src="assets/images/jj.jpg"
      alt="Avatar"
    />
    <p>{{ msg.message }}</p>
    <span class="time-right">{{ msg.sent | date: "shortTime" }}</span>
  </div>
</div>

<div *ngIf="msg.type == 'sender'">
  <div class="container darker">
    <img
      src="assets/images/joanna.jpg"
      alt="Avatar"
      class="right"
    />
    <p>{{ msg.message }}</p>
    <span class="time-left">{{ msg.sent | date: "shortTime" }}</span>
  </div>
</div>
