<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Welcome to {{title}}
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="assets/images/profile.jpg"
      />
  
      <h4 class="name">Joanna Smith</h4>
      <p class="designation">Software Engineer</p>
  
      <mat-divider></mat-divider>
  
      <a mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <button mat-button class="menu-button" routerLink="profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <a mat-button class="menu-button" routerLink="clock">
        <mat-icon>info</mat-icon>
        <span>Clock</span>
      </a>
  
      <mat-divider></mat-divider>
  
      <a mat-button class="menu-button" routerLink="api">
        <mat-icon>help</mat-icon>
        <span>ApiCall</span>
      </a>
    </mat-sidenav>

<router-outlet></router-outlet>

</mat-sidenav-container>