
  .s{
    position: fixed;
    bottom: 0;
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e9ec;
  }
  .i{
    border: none;
    background: transparent;
    padding: 0.8em;
    outline: none;
    color: rgb(31, 23, 23);
    width: 100%;
  }
  .b{
    background: #110861;
    color: #fff;
    width: 17%;
    border-radius: 4px;
    padding: 0.8em;
    margin: 0 1em;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .f{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }