mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(80vh - 50px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    font-size: 2rem;
    color: lightgray;

    overflow-y: scroll;
    border:1px solid silver;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

}

mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
.chat-input{

    justify-content: space-between;
    align-items: center;
    box-shadow: grey;
    margin-top: auto;
    border-radius: 6px;
    padding: 12px;
    background-color: rgb(65, 126, 218);
    margin-left: 700px;
    position: relative;
    width: 500px;

}
.in{
    width: 300px;
    margin-left: 100px;
    border-radius: 6px;
    height: 25px;
}
.btn{
    width: 30px;
}
.chatlog{
 
    color: black;
    margin: 0 12px;
    /* margin-left: 200px; */
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
